<section id="infoheader-wrapper">
	<span class="infoheader-breadcrumbs">
		<ul>
		 <li>Directory One</li>
		</ul>
	</span>
	<span class="infoheader-buttons">
		<a class="infoheader-button" href="#"><i class="fa fa-fw fa-plus-circle" aria-hidden="true"></i> Upload File</a>
		<a class="infoheader-button" href="#"><i class="fa fa-fw fa-folder" aria-hidden="true"></i> New Directory</a>
		<a class="infoheader-button" href="#"><i class="fa fa-lg fa-cogs" aria-hidden="true"></i></a>
		<a class="infoheader-button infoheader-button-mobile" href="#"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></a>
	</span>
</section>