<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link rel="icon" href="/img/favicon.ico">-->
	<title>Wisp</title>

	<!-- Core CSS -->
	<link rel="stylesheet" type="text/css" href="/css/flex-grid.css"/>
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<!-- Navigation Bar Header -->
	{% include "navbar.html" %}

	<!-- Sidebar -->
	{% include "sidebar.html" %}

	<!-- Page Content -->
	<main id="wrapper">
		<!-- Header -->
		{% include "header.html" %}

		<!-- File List -->
		{% include "filelist.html" %}
	</main>

	{% include "modals.html" %}

	<!-- Core JS -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	{% include "scripts.html" %}
</body>
</html>