<div id="testModal" class="modal" aria-hidden="true">
	<div class="modal-content">
		<div class="modal-header">
			Test Modal
		</div>
		<div class="modal-body">
			<a class="modal-close" href="#"><i class="fa fa-fw fa-times" aria-hidden="true"></i></a>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas dignissim venenatis. Integer maximus nisi lorem, non lacinia nisl varius quis. Sed ut magna ipsum. Maecenas ut diam velit. Nunc et lacus turpis. Aenean vestibulum, leo in interdum efficitur, mauris orci rhoncus nisl, et lobortis orci felis sed lorem. Morbi eleifend semper purus vitae maximus.
		</div>
		<div class="modal-footer">
			<button>Submit</button>
		</div>
	</div>
</div>