<aside id="sidebar-wrapper">
	<div class="sidebar-title">Wisp</div>
	<div class="sidebar-stats">
		<div class="sidebar-stat">
			<div class="sidebar-stat-name"><i class="fa fa-fw fa-file-o" aria-hidden="true"></i> Free</div>
			<div class="sidebar-stat-value">99.99 MB</div>
		</div>
		<div class="sidebar-stat">
			<div class="sidebar-stat-name"><i class="fa fa-fw fa-file" aria-hidden="true"></i> Used</div>
			<div class="sidebar-stat-value">99.99 MB</div>
		</div>
		<div class="sidebar-stat">
			<div class="sidebar-stat-name"><i class="fa fa-fw fa-pie-chart" aria-hidden="true"></i> Capacity</div>
			<div class="sidebar-stat-value">50.0%</div>
		</div>
		<div class="sidebar-stat">
			<div class="progress-wrap">
				<div class="progress-bar" style="width: 50.0%;"></div>
			</div>
		</div>
	</div>
	<div class="sidebar-list">
		<input type="text" class="sidebar-list-search" name="directory-search" placeholder="Search..">
		<div class="sidebar-list-scroll">
			<a class="sidebar-list-item" href="#"><i class="fa fa-fw fa-sitemap" aria-hidden="true"></i> Directory One</a>
			<a class="sidebar-list-item" href="#"><i class="fa fa-fw fa-sitemap" aria-hidden="true"></i> Directory Two</a>
			<a class="sidebar-list-item" href="#"><i class="fa fa-fw fa-sitemap" aria-hidden="true"></i> Directory Three</a>
		</div>
	</div>
</aside>